<h2 class="text-center">Places</h2>

{{link-to 'New place' 'places.new' class='btn btn-default'}}
<br><br>

<table class="table">
  <thead>
    <tr>
      <th> Name </th>
      <th> Description </th>
      <th> Address </th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |place|}}
      <tr>
        <td> {{place.name}} </td>
        <td> {{place.description}} </td>
        <td> {{place.address}} </td>
        <td> {{link-to 'JUMP' 'places.place' place.id class='btn btn-default'}} </td>
        <td> <button class="btn btn-default" {{action 'joinToPlace' place.id}}>JOIN</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
