<h2 class="text-center">{{t 'places.title'}}</h2>

{{#link-to 'places.new' class='btn btn-default'}}
  {{t 'places.new'}}
{{/link-to}}
<br><br>

<table class="table">
  <thead>
    <tr>
      <th> {{t 'places.table.name'}} </th>
      <th> {{t 'places.table.description'}} </th>
      <th> {{t 'places.table.address'}} </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |place|}}
      <tr>
        <td> {{place.name}} </td>
        <td> {{place.description}} </td>
        <td> {{place.address}} </td>
        <td>
          <button class="btn btn-default" {{action 'joinToPlace' place.id}}>
            {{t 'places.table.join'}}
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
