{{#if isPayer}}
  {{#link-to 'places.place.edit' place class="btn btn-default pull-right"}}
    {{t 'basic.edit'}}
  {{/link-to}}
  <button {{action "toggleModal"}} class='btn btn-primary'>
    {{t 'place.new_bill'}}
  </button>
  <br>
  <button type="button" class="btn btn-success text-center" {{action 'generateRent'}}>
    {{t 'place.generate_rent'}}
  </button>
{{/if}}
<button type="button" class="btn btn-warning pull-right" {{action 'leave'}}>
  {{t 'place.leave'}}
</button>

<br>
<br>
<div class="text-center">
  {{fa-icon 'home' size='5'}}
  <div class="place-name">{{place.name}}</div>
  <div>{{place.address}}</div>
</div>


<div class="text-center">
  {{fa-icon 'chevron-left' size='2' click=(action 'previousMonth')}}
  <div class="month">{{redabableMonth}}</div>
  {{fa-icon 'chevron-right' size='2' click=(action 'nextMonth')}}
</div>

<br>

<table id="proper-table">
  <thead>
    <tr>
      <th>
        {{t 'place.table.members'}}
      </th>
      <th>
        {{t 'place.table.rent'}}
      </th>
      {{#each currentBills as |bill|}}
        <th> {{bill.concern}} </th>
      {{/each}}
      <th>
        {{t 'place.table.dept'}}
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each place.users as |user|}}
      <tr class={{if (eq user.email currentEmail) 'highlight'}}>
        <td>
          {{user.displayName}}
          {{#if (eq user.email place.payer.email)}}
            {{fa-icon 'user'}}
          {{/if}}
        </td>
        {{prepare-rent-cell rent=(get-proper-rent user.rents month)
                            change=(action 'changeStatus')}}
        {{#each billIds as |billId|}}
          {{prepare-cell bill=(get-proper-bill user.bills billId)
                         change=(action 'changeStatus')}}
        {{/each}}
        <td class="cell {{if (eq (compute (action 'dept') user month) 0) 'paid' 'wait'}}">
          {{compute (action 'dept') user month}}
        </td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td> {{place.users.length}} </td>
      <td class="cell"> {{place.rent}}zł </td>
      {{#each currentBills as |bill|}}
        <td class="cell"> {{bill.amount}}zł </td>
      {{/each}}
      <td></td>
    </tr>
  </tfoot>
</table>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  translucentOverlay=true}}
    {{bill-form newBill=newBill create=(action 'createBill')}}
  {{/modal-dialog}}
{{/if}}

<br>

<div class="legend">
  <b> {{t 'place.legend.title'}} </b>
  <br>
  <span class="legend__single">{{fa-icon 'user'}} - {{t 'place.legend.payer'}} </span>
  <span class="legend__single">{{fa-icon 'square' class='paid-legend'}} - {{t 'place.legend.paid'}} </span>
  <span class="legend__single">{{fa-icon 'square' class='wait-legend'}} - {{t 'place.legend.not_paid'}} </span>
  <span class="legend__single">{{fa-icon 'square' class='sending-legend'}} - {{t 'place.legend.sending'}} </span>
</div>
