{{#if isPayer}}
  {{link-to 'Edit' 'places.place.edit' place class="btn btn-default pull-right"}}
  <button {{action "toggleModal"}} class='btn btn-primary'>Add Billl</button>
  <br>
  <button type="button" class="btn btn-success text-center" {{action 'generateRent'}}>Generate Rent</button>
{{/if}}
<button type="button" class="btn btn-warning pull-right" {{action 'leave'}}>Leave</button>

<br>
<br>
<div class="text-center">
  {{fa-icon 'home' size='5'}}
  <div class="place-name">{{place.name}}</div>
  <div>{{place.address}}</div>
</div>


<div class="text-center">
  <i class="fa fa-arrow-left fa-2x arrow" {{action 'previousMonth'}}></i>
  <div class="month">{{redabableMonth}}</div>
  <i class="fa fa-arrow-right fa-2x arrow" {{action 'nextMonth'}}></i>
</div>

<br>

<table class="" id="proper-table">
  <thead>
    <tr>
      <th>Members</th>
      <th> Rent </th>
      {{#each currentBills as |bill|}}
        <th> {{bill.concern}} </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each place.users as |user|}}
      <tr class={{if (eq user.email currentEmail) "highlight"}}>
        <td>
          {{user.displayName}}
          {{#if (eq user.email place.payer.email)}}
            {{fa-icon 'user'}}
          {{/if}}
        </td>
        {{prepare-rent-cell rent=(get-proper-rent user.rents month)
                            change=(action 'changeStatus')}}
        {{#each billIds as |billId|}}
          {{prepare-cell bill=(get-proper-bill user.bills billId)
                         change=(action 'changeStatus')}}
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td> {{place.users.length}} </td>
      <td> {{place.rent}}zł </td>
      {{#each currentBills as |bill|}}
        <td class="cell"> {{bill.amount}}zł </td>
      {{/each}}
    </tr>
  </tfoot>
</table>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  translucentOverlay=true}}
    {{bill-form newBill=newBill create=(action 'createBill')}}
  {{/modal-dialog}}
{{/if}}

<br>

<div class="legend">
  <b> Legend </b>
  <br>
  <span class="legend__single">{{fa-icon 'user'}} - Payer</span>
  <span class="legend__single">{{fa-icon 'square' class='paid-legend'}} - Paid</span>
  <span class="legend__single">{{fa-icon 'square' class='wait-legend'}} - Not paid</span>
</div>
