<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapser" aria-expanded="false" {{action 'mobileMenu'}}>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <span class="app-name">
          <strong>Hajs</strong>App
        </span>
        <span class="beta">
          beta
        </span>
      </a>
    </div>

    <div class="collapse navbar-collapse {{if mobileMenu 'in'}}" id="collapser">
      {{#if session.isAuthenticated}}
        <ul class="nav navbar-nav">
          <li>{{link-to 'Dashboard' 'dashboard'}}</li>
        </ul>
      {{/if}}
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          {{!-- {{#basic-dropdown as |dropdown|}}
           Content of the dropdown once it appears
          {{else}}
            <span class="user-menu">
              {{session.userEmail}}
            </span>
          {{/basic-dropdown}} --}}
          <li class="dropdown {{if dropdownOpen 'open'}}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" {{action 'toggleDropdown'}}>{{session.userEmail}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                {{#link-to 'settings'}}
                  {{fa-icon 'cog' fixedWidth=true}} Settings
                {{/link-to}}
              </li>
              <li>
                <a href="#" {{action 'logout'}}>
                  {{fa-icon 'sign-out' fixedWidth=true}} Logout
                </a>
              </li>
            </ul>
          </li>
        {{else}}
          <li>{{link-to 'Login' 'login'}}</li>
          <li>{{link-to 'Signup' 'registration'}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class="main container">
  {{outlet}}
</div>

{{ember-notify closeAfter=3000 messageStyle='bootstrap'}}
