<div class="cell {{bill.status}}">
  {{bill.amount}}zł
  {{#if (eq bill.status 'sending')}}
    {{fa-icon 'paper-plane-o'}}
  {{/if}}
  {{#if (eq bill.status 'wait')}}
    {{fa-icon 'thumbs-o-down'}}
  {{/if}}
  {{#if (eq bill.status 'paid')}}
    {{fa-icon 'thumbs-o-up'}}
  {{/if}}
</div>
